<!DOCTYPE html>
<html>
	<head>
		<title>Gestione Domotica - Roma in Terrazza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/google.material.icons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
