{% include "head.html" %}

{% macro switch(functionality, id, pin) %}
<div class="switch">
  <h6>
    {{ functionality }}
    <label>
      <input type="checkbox" class="toggle" id="{{ id }}" data-pin="{{ pin }}">
      <span class="lever"></span>
    </label>
  </h6>
</div>
{% endmacro %}


  <body>
    <nav class="blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NewTechHome</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a href="/businessplan">Business Plan</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/home"><i class="material-icons">home</i>Home</a></li>
          <li><a href="/businessplan"><i class="material-icons">description</i>Business Plan</a></li>
          <li><a href="/pricing"><i class="material-icons">euro_symbol</i>Pricing</a></li>
          <li><a href="/about"><i class="material-icons">info_outline</i>About</a></li>
          <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="container">

      <div class="card indigo lighten-1">
        <div class="card-content white-text">
          <span class="card-title"><h5>Casa Parisi</h5></span>
          <h6>
            Serratura: <i>Bloccata</i><br>
            Temperatura Media: <i><div style="display:inline;" id="tmp">--</div></i><br>
            Sensore Gas: <i>Parametri entro i limiti</i><br>
            {{ switch('Allarme', 'alarm', '') }}

            {{ switch('Condizionatore', 'air_conditioner', 2) }}
          </h6>
        </div>
        <div class="card-action" align="right">
          <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
        </div>
      </div>

      <div class="card indigo lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Cucina</span>
          {{ switch('Luci', 'kitchen_light', 13) }}
          <h6>
            Temperatura frigo: <i>10°C</i><br>
            Temperatura stanza: <i>21°C</i>
          </h6>
        </div>
        <div class="card-action" align="right">
          <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
        </div>
      </div>

      <div class="card indigo lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Giardino</span>
          {{ switch('Luci', 'garden_light', 8) }}
          {{ switch('Cancello', 'garden_gate', '') }}
          {{ switch('Impianto di irrigazione', 'irrigation', '') }}
          <h6>Temperatura esterna: <i>19°C</i></h6>
        </div>
        <div class="card-action" align="right">
          <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
        </div>
      </div>

      <div class="card indigo lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Salone</span>
          {{ switch('Luci', 'living_light', 12) }}
          <h6>
            Temperatura stanza: <i>23°C</i>
          </h6>
        </div>
        <div class="card-action" align="right">
          <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
        </div>
      </div>

{% include "foot.html" %}
