{% include "head.html" %}
    <body>
        <nav class="pink lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Roma in Terrazza</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/businessplan">Business Plan</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/home"><i class="material-icons">home</i>Home</a></li>
                    <li><a href="/businessplan"><i class="material-icons">description</i>Business Plan</a></li>
                    <li><a href="/pricing"><i class="material-icons">euro_symbol</i>Pricing</a></li>
                    <li><a href="/about"><i class="material-icons">info_outline</i>About</a></li>
                    <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="container">
            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title"><h5>Casa Smeraldo</h5></span>
                    <h6>Serratura: <i>Bloccata</i><br>
                        Temperatura Media: <i>22°C</i><br>
                        Sensore Gas: <i>Parametri entro i limiti</i><br>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Allarme &nbsp;
                            <label>
                                <input type="checkbox" id="allarme">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>

                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Condizionatore&nbsp;
                            <label>
                                <input type="checkbox" id="condizionatore">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    </h6>
                </div>
                <div class="card-action" align="right">
                  <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
                </div>
            </div>

            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Cucina</span>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Luci &nbsp;
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    <h6>Temperatura frigo: <i>10°C</i><br>
                    Temperatura stanza: <i>21°C</i></h6>
                </div>
                <div class="card-action" align="right">
                  <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
                </div>
            </div>

            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Giardino</span>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Luci &nbsp;
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Cancello &nbsp;
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Impianto di irrigazione &nbsp;
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    <h6>Temperatura esterna: <i>19°C</i></h6>
                </div>
                <div class="card-action" align="right">
                  <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
                </div>
            </div>

            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">Salone</span>
                    <!-- Switch -->
                    <div class="switch">
                        <h6>
                            Luci &nbsp;
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </h6>
                    </div>
                    <h6>Temperatura stanza: <i>23°C</i></h6>
                </div>
                <div class="card-action" align="right">
                  <a href="http://www.romainterrazza.it/IT/Home.aspx"><i>Roma in Terrazza</i></a>
                </div>
            </div>

            <script type="text/javascript">
               console.log("JQ");
               //Listen when a button, with a class of "myButton", is clicked
               //You can use any jQuery/JavaScript event that you'd like to trigger the call
               $('#condizionatore').change(function() {
                  console.log("condizionatore");
                  //Send the AJAX call to the server
                  $.ajax({
                  //The URL to process the request
                    'url' : 'http://192.168.1.2:8000/index',
                  //The type of request, also known as the "method" in HTML forms
                  //Can be 'GET' or 'POST'
                    'type' : 'GET',
                  //Any post-data/get-data parameters
                  //This is optional
                    'data' : {
                      'id' : 'condizionatore'
                    }
                  });
               });
            </script>



{% include "foot.html" %}